@font-face {
  font-family: GlacialIndifference-Bold;
  src: url(../IMG/glacial-indifference/GlacialIndifference-Bold.otf);
}
body {
  padding: 1em 2em;
  background-color: #151515; 
  background-image: url("../IMG/self/Final_no_button.png");
  color:#a8afd6; 
}
.text-container{
    margin: 0.4em 0;
    font-size: 100px;
    text-align: right;
    align-items: center;
    font-family: GlacialIndifference-Bold;
  }

  .txt-rotate .wrap {
    border-right: 0.03em solid #a8afd6;
  }
  .bottom-right-image {
    position: absolute;
    bottom:25%;
    right: 5%;
    width:30%;
    height: auto;
}
