@font-face {
    font-family: GlacialIndifference-Regular;
    src: url(../IMG/glacial-indifference/GlacialIndifference-Regular.otf);
    }
.container-fluid{
    margin: 5px 20px;
    padding: 5px 20px;
    background-color:  #151515; 
}
.navbar-nav  .nav-link {
    color: #a8afd6; 
    font-size: 20px;
    font-family: GlacialIndifference-Regular;
}